extends layout

block content

	div(style='margin-left:20px;margin-top:20px')
	
	form(method='POST' action='')
		div.form-group
			label(for='first_name') Имя:
			input#first_name.form-control(type='text', placeholder='Имя' name='first_name' required='true' value=(undefined===reservation ? '' : reservation.first_name) )
		div.form-group
			label(for='last_name') Фамилия:
			input#last_name.form-control(type='text', placeholder='Фамилия' name='last_name' required='true' value=(undefined===reservation ? '' : reservation.last_name) )
		div.form-group
			label(for='number') Номер телефона:
			input#number.form-control(type='number' size="10" minlength="10" maxlength="10" placeholder='Номер телефона (без +7)' name='number' required='true' value=(undefined===reservation ? '' : reservation.number) )
			div.form-group
		
		div.form-group
			label(for='reservation') Свободные столики:
			select#reservation.form-control(type='select', placeholder='Select reservation time' name='reservation' required='true' )
				for reservation in reservations
					option(value=reservation._id) Столик #{reservation.table.description} на #{reservation.table.capacity} человек(а) (#{reservation.time_range}). 
						| Официант: #{reservation.table.waiter.first_name} #{reservation.table.waiter.last_name} (#{reservation.table.waiter.gender})
		
		button.btn.btn-primary(type='submit') Забронировать